body {
    background-color: aquamarine;
    margin: 0;
    padding: 25px 0;
}

.Square
{ position:relative;
    width: 1152px;
    height: 700px;
    
    background: #370617;
    
    display: flex;
    flex-direction: column;
 
    align-items: center;
 
}


.block1 {
    position: absolute;
    width: 468px;
    height: 160px;
    left: 98px;
    top: 90px;
    background: #F48C06;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;


}

.block2 {
    
    position: absolute;
    width: 468px;
    height: 160px;
    left: 586px;
    top: 90px;
    
    background: #F48C06;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

}
.block3 {
    
    position: absolute;
    width: 468px;
    height: 160px;
    left: 98px;
    top: 270px;
    
    background: #F48C06;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    
    
} 

.block4 {
    
    position: absolute;
    width: 468px;
    height: 160px;
    left: 586px;
    top: 270px;
    
    background: #F48C06;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.block5 {
    
    position: absolute;
    
    width: 468px;
    height: 160px;
    left: 98px;
    top: 450px;
    
    background: #F48C06;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    
}    

.block6 {
    
    position: absolute;
    width: 468px;
    height: 160px;
    left: 586px;
    top: 450px;
    
    background: #F48C06;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    
}    
.base1{
    background-color: darkcyan;
    border: 5px solid black;
    border-radius: 15px;
    min-width: 100px;
    min-height: 100px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 180px;
 justify-content: flex-start;


}


.base2 {
    background-color: darkcyan;
    border: 5px solid black;
    border-radius: 15px;
    min-width: 100px;
    min-height: 100px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 180px;
    justify-content: center;
    align-items: stretch;
    justify-content: space-evenly;
    
   
}.base3 {
    background-color: darkcyan;
    border: 5px solid black;
    border-radius: 15px;
    min-width: 100px;
    min-height: 100px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 180px;
   justify-content: flex-end;
}.base4 {
    background-color: darkcyan;
    border: 5px solid black;
    border-radius: 15px;
    min-width: 100px;
    min-height: 100px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 180px;
   justify-content: space-between;
}

.base5 {
    background-color: darkcyan;
    border: 5px solid black;
    border-radius: 15px;
    min-width: 100px;
    min-height: 100px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 180px;
    justify-content: space-evenly;
   
}

.base6 {
    background-color: darkcyan;
    border: 5px solid black;
    border-radius: 15px;
    min-width: 100px;
    min-height: 100px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 180px;
   justify-content: space-evenly;
  
}

.rectangle1
{
min-width: 78px;
min-height: 78px;
left: 117px;
top: 153px;


border: 5px solid black;
background: #9D0208;
border-radius: 4px;
}
.rectangle2
{
    min-width: 78px;
    min-height: 78px;
    left: 215px;
    top: 153px;
    border: 5px solid black;
background: #9D0208;
border-radius: 4px;
}
.rectangle3
{width: 78px;
    min-width: none;
    min-height: 78px;
    left: 313px;
    top: 153px;
    
    border: 5px solid black;
    background: #9D0208;
    border-radius: 4px;

}

